<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Create new wallet';  goBackToState = 'add'; noColor = true">
</div>



<div class="content p20v" ng-controller="createController as create" ng-init="create.setTotalCopayers(1)">

  <div class="onGoingProcess" ng-show="create.loading">
    <div class="onGoingProcess-content" ng-style="{'background-color':'#222'}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate>Creating Wallet...</span>
    </div>
  </div>

  <div class="create-tab small-only-text-center" ng-hide="create.hideTabs">
    <div class="row">
    <div class="tab-container small-6 medium-3 large-2">
    <a href
      ng-class="{'selected': totalCopayers == 1}"
      ng-click="create.setTotalCopayers(1)" translate>Personal Wallet</a>
    </div>
    <div class="tab-container small-6 medium-3 large-2">
    <a href
      ng-class="{'selected': totalCopayers != 1}"
      ng-click="create.setTotalCopayers(3)" translate>Shared Wallet</a>
    </div>
    </div>
  </div>

  <form name="setupForm" ng-submit="create.create(setupForm)" novalidate>
    <div class="row">
      <div class="large-12 columns">
        <div class="box-notification" ng-show="create.error">
          <span class="text-warning size-14">
            {{create.error|translate}}
          </span>
        </div>

        <div class="row">
          <div class="large-12 columns" ng-hide="create.hideWalletName">
            <label><span translate>Wallet name</span>
              <div class="input">
                <input type="text" placeholder="{{'Family vacation funds'|translate}}" class="form-control" name="walletName" ng-model="walletName" ng-required="true" ng-focus="create.formFocus('wallet-name')" ng-blur="create.formFocus(false)">
              </div>
            </label>
          </div>
          <div class="large-12 columns" ng-show="totalCopayers != 1">
            <label><span translate>Your nickname</span>
              <div class="input">
                <input type="text" placeholder="{{'John'|translate}}" class="form-control" name="myName" ng-model="myName" ng-required="totalCopayers != 1" ng-disabled="totalCopayers == 1" ng-focus="create.formFocus('my-name')" ng-blur="create.formFocus(false)">
              </div>
            </label>
          </div>
        </div>
        <div class="row" ng-show="totalCopayers != 1">
          <div class="large-6 medium-6 columns">
            <label><span translate>Select total number of copayers</span>
              <select class="m10t" ng-model="totalCopayers"
                ng-options="totalCopayers as totalCopayers for totalCopayers in create.TCValues"
                ng-change="create.setTotalCopayers(totalCopayers)">
              </select>
            </label>
          </div>
          <div class="large-6 medium-6 columns">
            <label><span translate>Select required number of signatures</span>
              <select class="m10t" ng-model="requiredCopayers" ng-options="requiredCopayers as requiredCopayers for requiredCopayers in create.RCValues" ng-disabled="totalCopayers == 1">
              </select>
            </label>
          </div>
        </div>

        <div class="m10t oh" ng-init="hideAdv=true">
          <a class="button outline light-gray expand tiny" ng-click="hideAdv=!hideAdv">
            <i class="fi-widget m3r"></i>
            <span translate ng-hide="!hideAdv">Show Advanced options</span>
            <span translate ng-hide="hideAdv">Hide Advanced options</span>
            <i ng-if="hideAdv" class="icon-arrow-down4"></i>
            <i ng-if="!hideAdv" class="icon-arrow-up4"></i>
          </a>
        </div>
        <div ng-hide="hideAdv" class="row">
          <div class="large-12 columns">
            <label for="network-name" class="line-b oh">
              <span translate>Testnet</span>
              <switch id="network-name" name="isTestnet" ng-model="isTestnet" class="green right m5t m10b"></switch>
            </label>
            <label for="ext-master" class="m10t">
              <span translate>Master extended private key</span>
              <small translate>If not given, a secure key will be generated</small>
              <input id="ext-master"
              type="text"
              placeholder="{{'BIP32 master extended private key'|translate}}"
              name="privateKey" ng-model="privateKey">
          </div>
        </div>


        <button type="submit" class="button round black expand m0" ng-disabled="setupForm.$invalid || create.loading">
          <span translate>Create {{requiredCopayers}}-of-{{totalCopayers}} wallet</span>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="extra-margin-bottom"></div>
