
/*
 *
 * Copay mobile CSS
 *
 */

/* disabling text selection */
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none !important;
}

input {
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

* {
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.touch {
  -webkit-overflow-scrolling: touch;
}

.enable_text_select {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/* END disabling text selection */

.inner-wrap {
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}

body {
  overflow: hidden;
  -ms-content-zooming: none;
}

/* Fix IE 10 */
.extra-margin-bottom {
  display: block
  height: 75px
  overflow: hidden
  clear: both
}

.main {
  height: 99%
  overflow: auto
}

/* Fix IE 11 */
_:-ms-fullscreen, :root .extra-margin-bottom {
  display: block;
  height: 75px;
  overflow: hidden;
  clear: both;
}

_:-ms-fullscreen, :root .main {
  height: 99%;
  overflow: auto;
}

/* Fix Firefox */
@-moz-document url-prefix() {
  .extra-margin-bottom {
    display: block;
    height: 45px;
    overflow: hidden;
    clear: both;
  }
}

.tab-bar {
  background: #FFFFFF;
  z-index: 5;
  border-bottom: 1px solid #E9E9EC;
}

.tab-bar h1 {
  color: #7A8C9E;
  font-weight: 500;
  font-size: 14px;
}

.tab-bar-section.middle {
  left: 4.7rem;
  right: 4.7rem;
}

.left-small {
  width: 4.7rem;
  line-height: 2.95rem;
  border-right: none;
}

.right-small {
  width: 4.7rem;
  text-align: right;
  line-height: 2.7rem;
  border-left: none;
}

.tab-bar .icon-back {
  font-size: 2.5rem;
  position: absolute;
  line-height: 52px;
  left: -5px;
  height: 45px;
  top: 0px;
}

.tab-bar .text-back {
  margin-left: 26px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px 0;
  visibility: middle;
}

.tab-bar .text-close {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2.95rem;
}

.bottom-bar {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background: #2C3E50;
}

.amount {
  width: 100%;
  text-align: center;
  padding: 3rem 1rem;
  margin-bottom: 11px;
  color: #fff;
  height: 175px;
  background-size: 100% 100%;
}

.scroll-section {
  position: absolute;
  top: 120px;
  overflow-y: auto;
}

.status {
  bottom: 65px;
  left: 0;
}

.right-off-canvas-menu {
  background-color: #213140 ;
}

.off-canvas-wrap,.inner-wrap{
  height:100%;
}

.walletHome {
  background-color: #fff;
}

.walletHome .avatar-wallet {
  padding: 1.7rem 1rem;
  width: 75px;
  height: 75px;
  position: absolute;
  top: -33px;
  font-size: 35px;
  border: 3px solid #fff;
  background: #1ABC9C;
  margin: 0;
  color: #FFF;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  border-radius: 5px;
}

.walletHome .wallet-info {
  margin-left: 85px;
  line-height: 110%;
  height: 60px;
  overflow: hidden;
}

.copayers {
  position: relative;
  padding: 0;
  overflow-y: none;
}

ul.copayer-list img {
  width: 30px;
  height: 30px;
}

.bottombar-item a {
  color: #9EA9B3;
  padding: 0.5rem 0;
  display: block;
  border-top: 3px solid #122232;
}

.bottombar-item a.active {
  color: #E4E8EC;
  background-color: #122232;
}

.box-founds {
  background-color: #213140;
}



.right-small a, .left-small a {
  color: #A5B2BF;
}

.addresses .list-addr contact {
  margin-left: 0;
  font-size: 14px;
}


a.missing-copayers {
  bottom: -34px;
  text-align: center;
  padding: .7rem;
  width: 100%;
}

.button, button {
  padding: 1rem 1.2rem 1.0625rem;
  border: 1px solid transparent;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box-setup {
  margin-bottom: 50px;
}

.footer-setup {
  margin-bottom: 50px;
}

.label {
  font-size: 70%;
  padding: 0.2rem 0.2rem;
}

.sidebar {
  background: #2C3E50;
}

.sidebar li {
  overflow: hidden;
  border-bottom: 1px solid #384B5F;
}

.sidebar li.nav-item.selected {
  background-color: #122232;
}

.sidebar .avatar-wallet, .payment-uri .avatar-wallet {
  background-color: #2C3E50;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-right: 15px;
  padding: 0.33rem 0.65rem;
  line-height: 24px;
  text-align: center;
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.sidebar header {
  text-align: center;
  padding: 1.7rem;
  border-bottom: 1px solid #384B5F;
}

.sidebar header h1 {
  color: #fff;
  margin: 0;
  padding: 5px;
}

.sidebar header small {
  color: #fff;
}

.sidebar ul.off-canvas-list {
  margin-bottom: 30px;
}

.sidebar ul.off-canvas-list li a {
  font-size: 12px;
  font-weight: 300;
  border-bottom: transparent;
  color: #A5B2BF;
  padding: 1rem 0.7rem;
  line-height: 155%;
}

.sidebar ul.off-canvas-list li a i {
  vertical-align: middle;
  opacity: 0.6;
}

.sidebar .left-off-canvas-menu {
  background: #E4E8EC;
  line-height: 24px;
}

/*
 * Remove all vendors hover / shadow / fade
 */

.tooltip {
  display: none !important;
}

.move-right .exit-off-canvas,
.move-left .exit-off-canvas {
  box-shadow: none;
}

ul.off-canvas-list li a:hover {
  background: none;
}

.move-right .close-menu {
  cursor: pointer;
  box-shadow: none;
  display: block;
  position: absolute;
  background: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
}

/* === */


/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.main[ui-view]{
 height: 100%; /* TODO */
}

.ui-view-container {
  position: relative;
  height: 100%;
}

[ui-view].slideDown,
[ui-view].slideRight,
[ui-view].slideLeft {
  z-index:100;
}

#mainSection, #mainSectionDup {
  height:100%;
  position: absolute;
  left: 0;
  right: 0;

  animation-timing-function: ease-in-out;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

  -webkit-animation-timing-function:  ease-in-out;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
}

.CslideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  z-index: 1003;
}
.CslideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  z-index: 1003;
}
.CslideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  z-index: 1003;
}
.CslideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  z-index: 1003;
}

/* == */

.icon-circle, .icon-circle-active {
  color:  #1ABC9C;
}

.tx-comment {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
}

/* notifications */

.dr-notification-container {
  position: absolute;
  z-index: 10000;
  width: 100%;
}

.dr-notification-container.bottom {
  bottom: 20px;
}

.dr-notification-container.right {
  right: 0;
}

.dr-notification-container.left {
  left: 20px;
}

.dr-notification-container.top {
  top: 45px;
}

.dr-notification-container.center {
  left: 50%;
  margin-left: -190px;
}

.dr-notification-wrapper {
  position: relative;
  width: 100%;
  margin: 0;
}

.dr-notification-wrapper.offline {
  position: absolute;
  top: 0px;
  z-index: 2000;
  opacity: 1.0 !important;
  background-color: #2C3E50;
}

.dr-notification-wrapper.client-error {
  position: absolute;
  top: 45px;
  z-index: 11;
}

.dr-notification-close-btn {
  color: #A5B2BF;
  border: 1px solid #A5B2BF;
  border-radius: 100%;
  display: inline-block;
  padding: 0px 8px;
  position: absolute;
  right: 5px;
  cursor: pointer;
  z-index: 10;
  margin: 14px 8px 0;
  font-size: 20px;
}

.dr-notification-image {
  float: left;
  color: #fff;
  text-align: center;
  background-color: #213140;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 100%;
  margin: 0.6rem;
}

.dr-notification-image img {
  margin: 15px;
  max-width: 70px;
  min-width: 48px;
}

.dr-notification-content {
  line-height: 90%;
  padding: 10px 50px 5px 60px;
}

.dr-notification-title {
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 700;
}

.dr-notification {
  background: rgba(44,62,80,0.90);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
  width: 100%;
  clear: both;
  overflow: hidden;
  border-radius: 0;
  height: 60px;
}

.dr-notification-text {
  font-size: 11px;
  color: #fff;
}

/*** modals ***/

.reveal-modal-bg {
  display: none !important;
}

.reveal-modal.full {
  top: 0 !important;
}

.modal-content {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  top: 45px;
  padding-bottom: 33px;
}

.reveal-modal {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: 0;
}


.reveal-modal.animated.slideInRight,
.reveal-modal.animated.slideOutRight,
.reveal-modal.animated.fadeOutUp,
.reveal-modal.animated.slideInUp,
.reveal-modal.animated.slideInDown {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input,
select,
textarea,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input:focus,
select:focus,
textarea:focus
{
  outline: 0;
  opacity: 1;
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  /*CSS box-shadow*/
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.popup-tx-status {
  z-index: 1030;
}

.popup-txsent {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1ABC9C;
}

.popup-txsent i {
  font-size: 5rem;
  background-color: #fff;
  color: #1ABC9C;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: block;
  text-align: center;
  padding-top: 1rem;
}

.popup-txsigned i {
  font-size: 5rem;
  background-color: #1ABC9C;
  color: #fff;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: block;
  text-align: center;
  padding-top: 1rem;
}

.popup-txrejected i {
  font-size: 5rem;
  background-color: #ED4A43;
  color: #fff;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: block;
  text-align: center;
  padding-top: 1rem;
}

::-webkit-input-placeholder {
  color: #B7C2CD;
}

:-moz-placeholder { /* Firefox 18- */
  color: #B7C2CD;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #B7C2CD;
}

:-ms-input-placeholder {
  color: #B7C2CD;
}

.tab-view {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  width:100%;
  position: absolute;
  top: 45px;
  bottom: 37px;
  overflow: auto;
  padding-bottom: 40px;
}

.tab-in {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.tab-out {
  -webkit-transform: translate3d(-100%, 0, 0) !important;
  transform: translate3d(-100%, 0, 0) !important;
}

.digibytetip {
  padding: 5px;
  width: 80%;
  background-color: #0066cc;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin: 15px auto 0 auto;
}

.recentnews {
  padding: 5px;
  width: 80%;
  background-color: #0066cc;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin: 15px auto 0 auto;
}

.create-tab {
  width: 100%;
  border-bottom: 1px solid #DEDFE1;
  margin-bottom: 25px;
  padding: 0 0 .5rem 1rem;
  overflow: hidden;
}

.create-tab .tab-container {
  float: left;
}


.create-tab a {
  font-size: .7rem;
  padding: 0 0 .6rem;
  color: #929396;
  text-transform: uppercase;
  font-weight: 500;
}

.create-tab a:hover,
.create-tab a:focus {
  border-bottom: 3px solid #929396;
}

.create-tab a.selected,
.create-tab a:active {
  font-weight: 600;
  color: #2C3E50;
  border-bottom: 3px solid #2C3E50;
}

/* removes 300ms in IE */
-ms-touch-action: manipulation; /* IE10 /
touch-action: manipulation; /* IE11+ */